@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Graphik';
}

body {
    overflow: hidden;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    ::-webkit-scrollbar {
        display: none; 
    }
}